{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="calculator">
                <h1>Calculator</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

                {% if result is defined %}
                    Result = {{ result }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
